/* Hero */

.hero {
  position: relative;
  display: flex;

  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  background-color: var(--primary-hero-bg-color);
  background-image: url(../images/teamwork.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero .container {
  position: relative;
}

.hero::before {
  display: inline-flex;

  content: "";

  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: var(--hero-shadow);
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;

  width: 696px;

  margin: 0 auto;
}

/* Hero button */

.hero__button {
  color: var(--primary-white-color);

  background-color: var(--accent-color);

  border: transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;

  cursor: pointer;

  padding: 10px 32px;
  margin: 30px auto 0 auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--primary-filter-bg-color);
  color: var(--title-text-color);
}

.section__title,
.team__title,
.client__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

/* Benefits */

.benefits {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__list {
  display: flex;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.icon {
  display: flex;
  background-color: var(--primary-filter-bg-color);
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.benefits__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0 0 10px 0;
}

.benefits__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

/* Do list */

.section {
  background-color: var(--primary-white-color);
  padding-bottom: 94px;
}

.section__list {
  display: flex;
}

.section__item {
  position: relative;

  display: block;
  width: 370px;
  height: 294px;
}

.section__thumb {
  position: absolute;
  bottom: 0;

  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section__thumb-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section__item:not(:last-child) {
  margin-right: 30px;
}

.section__item:nth-child(1) {
  background-image: url(../images/neondesktop.jpg);
}

.section__item:nth-child(2) {
  background-image: url(../images/phonedesktop.jpg);
}

.section__item:nth-child(3) {
  background-image: url(../images/rgbdesktop.jpg);
}

/* Team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__card {
  background-color: var(--primary-white-color);
  height: 428px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card:not(:last-child) {
  margin-right: 30px;
}
.team__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__list {
  display: flex;
  margin: 0 auto;
}

/* TEAM-SOCIALS */

.team__social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 16px;
}

.team__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--soc-icons-color);
  background-color: var(--primary-white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-icon {
  fill: currentColor;
}

.team__item:not(:last-child) {
  margin-right: 10px;
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* CLIENTS */

.client {
  padding: 94px 0;
  background-color: var(--primary-white-color);
}

.client__list {
  display: flex;
  justify-content: center;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--soc-icons-color);
  border-radius: 4px;
  color: var(--soc-icons-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__icon {
  fill: currentColor;
}

.client__link:hover,
.client__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__hidden {
  opacity: 0;
  pointer-events: none;
}

/* Modal */

.backdrop.backdrop__hidden .modal {
  transform: translate(-50%, -50%) translateY(100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0);

  min-height: 581px;
  min-width: 528px;

  text-align: center;

  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button__close {
  position: absolute;
  top: 0;
  right: 0;

  margin: 8px 8px 0 0;
  padding: 0;
  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.modal__cross {
  fill: currentColor;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button__close:hover > .modal__cross,
.modal-button__close:focus > .modal__cross {
  color: var(--accent-color);
}

.modal__container {
  width: 100%;

  padding: 0 40px;
  margin: 0 auto;
}

.modal__title {
  display: inline-block;

  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  margin-top: 40px;
  margin-bottom: 30px;
}

.modal-form__item {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 28px;
}

.modal-form__item:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form__item:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}

.modal-form__area {
  position: relative;

  display: flex;

  background-color: transparent;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: -1;
}

.modal-form .modal-form__label {
  position: absolute;

  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  transform: translateY(-115%);

  margin-right: auto;
}

.modal-form__area {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 16px;

  height: 40px;
  resize: none;

  outline: rgba(33, 33, 33, 0.2);

  transition: 250ms outline cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__area:not(:last-child) {
  padding-left: 42px;
}

.modal-form__area:hover,
.modal-form__area:focus {
  outline: 1px solid var(--accent-color);
}

.modal-form__area:hover ~ .modal-form__icon,
.modal-form__area:focus ~ .modal-form__icon {
  color: var(--accent-color);
}

.modal-form__area_biggest {
  height: 120px;
}

.modal-form__item textarea::placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__item input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-form__checkbox-icon {
  position: relative;

  display: inline-block;

  width: 16px;
  height: 16px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  margin-right: 7px;

  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.modal-form__icon-check {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  fill: currentColor;

  opacity: 0;
}

.modal-form__checkbox:checked + .modal-form__checkbox-icon {
  transform: scale(1.1);

  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: transparent;

  color: var(--primary-white-color);
}

.modal-form__checkbox:checked
  + .modal-form__checkbox-icon
  > .modal-form__icon-check {
  opacity: 1;
}

.modal-form__terms {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.modal-form__link {
  color: var(--accent-color);
}

.modal-button__submit {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);

  border: transparent;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 52px;
  margin-bottom: 40px;

  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.modal-button__submit:hover,
.modal-button__submit:focus {
  transform: scale(1.1);
}

/* ... */
