/* Hero */

.hero {
  position: relative;
  display: flex;

  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  background-color: var(--primary-hero-bg-color);
  background-image: url(../images/teamwork.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero .container {
  position: relative;
}

.hero::before {
  display: inline-flex;

  content: "";

  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: var(--hero-shadow);
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;

  width: 696px;

  margin: 0 auto;
}

/* Hero button */

.hero__button {
  color: var(--primary-white-color);

  background-color: var(--accent-color);

  border: transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;

  cursor: pointer;

  padding: 10px 32px;
  margin: 30px auto 0 auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--primary-filter-bg-color);
  color: var(--title-text-color);
}

.section__title,
.team__title,
.client__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

/* Benefits */

.benefits {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__list {
  display: flex;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.icon {
  display: flex;
  background-color: var(--primary-filter-bg-color);
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.benefits__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0 0 10px 0;
}

.benefits__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

/* Do list */

.section {
  background-color: var(--primary-white-color);
  padding-bottom: 94px;
}

.section__list {
  display: flex;
}

.section__item {
  position: relative;

  display: block;
  width: 370px;
  height: 294px;
}

.section__thumb {
  position: absolute;
  bottom: 0;

  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section__thumb-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section__item:not(:last-child) {
  margin-right: 30px;
}

.section__item:nth-child(1) {
  background-image: url(../images/neondesktop.jpg);
}

.section__item:nth-child(2) {
  background-image: url(../images/phonedesktop.jpg);
}

.section__item:nth-child(3) {
  background-image: url(../images/rgbdesktop.jpg);
}

/* Team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__card {
  background-color: var(--primary-white-color);
  height: 428px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card:not(:last-child) {
  margin-right: 30px;
}
.team__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__list {
  display: flex;
  margin: 0 auto;
}

/* TEAM-SOCIALS */

.team__social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 16px;
}

.team__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--soc-icons-color);
  background-color: var(--primary-white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-icon {
  fill: currentColor;
}

.team__item:not(:last-child) {
  margin-right: 10px;
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* CLIENTS */

.client {
  padding: 94px 0;
  background-color: var(--primary-white-color);
}

.client__list {
  display: flex;
  justify-content: center;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--soc-icons-color);
  border-radius: 4px;
  color: var(--soc-icons-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__icon {
  fill: currentColor;
}

.client__link:hover,
.client__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
